# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.venv/
.env/
venv/
env/
build/
dist/

# TensorFlow / Keras
*.h5
*.keras
checkpoints/
logs/

# Dataset and Screens
Screens_AS/
Screens_RT/
*.csv
*.png
*.jpg
*.jpeg

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Temp
tmp/
*.bak
*.ol

# Exclude all image files inside Screens_AS and Screens_RT
Screens_AS/**/*.png
Screens_AS/**/*.jpg
Screens_AS/**/*.jpeg
Screens_RT/**/*.png
Screens_RT/**/*.jpg
Screens_RT/**/*.jpeg

# Keep folder structure
!Screens_AS/.gitkeep
!Screens_RT/.gitkeepd
